/* @import url(https://fonts.googleapis.com/css2?family=Dancing+Script); */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255) !important;
}

h1 {
    text-align: center;
    color: rgb(145, 13, 63);
}

.section h2 {
    color: #b1680f;
}

.section p {
    margin: 0;
    font-size: large;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
}